{% extends 'blog/base.html' %}

{% block content %}
{{ form.non_field_errors }}

<h3>{{ title }}</h3>
<form action="{{ post.get_absolute_url }}" method="post" enctype="multipart/form-data">
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

<!--<button onclick="document.getElementById('id_photo').click()">Загрузить фото</button>-->

<button type="submit">Сохранить</button>
{% csrf_token %}
</form>

{% endblock %}